* {
  margin: 0;
  padding: 0;

}

html, body {
  height: 100%;
  
}
main{
  overflow: hidden;
}

.navigation{
    background-color:#e31837 ; 
    background-position: center;
    max-height: 12.5rem;
 
}

/* SLOGAN */

.slogan {
  margin-left: 5rem;

}
  
  .slogan h1 {
   
    font-size: 2rem;
    font-weight: bold;
    color: rgb(123, 252, 252); 
    text-shadow: 2px 2px 8px rgb(97, 237, 245);
    margin-bottom: 1.6rem;
    text-transform: uppercase;


  }





.above-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:-3.125rem 2rem;
    /*  */
}

.above-nav img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
}

.right-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-auth {
    display: flex;
    align-items: center;
    gap: 1vw;
  padding: 0.4rem;
}

.beween p {
  
  font-size: 3rem;
  
  font-weight: bold;
}


.user-auth a {
    text-decoration: none;
    color: #ffffff;
    box-shadow: 
        0 0 3px 0 #00000066,
        0 0 2px 0 #0000004d;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.4rem 1.5rem;
    font-size: medium;

}
.user-auth .icon-log a{
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
background-color: #66dcd2;
border-radius: 25%;
}
.icon-log a i{
  border: 2px solid rgb(43, 92, 255);
  border-radius: 50%;
}


.user-auth  a:hover{
  background-color: #ed4190;
  color: yellowgreen;
}



.user-auth i {
    font-size: 2rem;
    color: rgb(235, 240, 67);
}



 .cart {
  padding: 0 1rem;
    font-size: 2rem;
    color: rgb(235, 240, 67);

}

.cart i {
    padding-top: 0.3125px;
   
} 


.main-nav {
  padding-left: 2vw;
  justify-content: space-between;
  display: flex;
}

.main-nav .compo a {
  text-decoration: none; 
  color: #ffffff;
  display: inline-block;
  padding: 0.62rem 1.3rem;
  transition: color 0.4s, background-color 0.2s;
  box-shadow:  2px 2px 8px rgb(105, 53, 10);
  margin-bottom: 1rem;
}

.main-nav .compo a:hover {
  color: #fff;
  background-color: #f95fb6;
}

.search {
  display: flex;
 margin-left: 10vw;
 color: #03db90;
 margin-bottom: 1rem;
}

.input {
  position: relative;
  width: 100%;
  max-width: 18rem;
  padding: 0 1rem;
  align-items: center;
  display: flex;

}

.input input {
  width: 100%;
  padding: 0.63rem 2.5rem 0.63rem 0.63rem; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid rgb(253, 143, 199);
  flex: 1;
}

.input i{
  position: absolute;
  right: 1.5rem;
  font-size: 1.56rem;
  color: #fab299;
 pointer-events:all;
}
.input i:hover {
  color: black; 
}




.banner{
    margin-top: 2rem;
}

.banner img{
    width: 100%;
    height: 60%;
   object-fit: cover;
}

.move h2{
margin-top: 2rem;
color:rgb(225, 21, 96);
}

/* FOOTER OF PAGES */
 footer{
   margin-top: 10vh;
padding-top: 3rem ;
  background-color: #e31837; 

} 

.last-footer{
  background-color: #cb102c;
  padding: 1rem;
}
.last-footer p{
  text-align: center;

} 

.main-contents{
  display: flex;
}

.logo-infooter{
  padding: 0 ;
}


.second-content{
  margin: 0 3.125rem;
}



.second-content .order img{
  width: 20vw;
  height: 8vh;
}

.third-content .mix-logo img{
  width: 6.25rem;
  height: 3.125rem;
  margin: 3rem 0;

} 
.third-content .draw{
  border-bottom: 2px solid rgb(5, 17, 20);
  margin: 1.25rem;
}


.fa-envelope:before,.fa-facebook:before {
  content: "\f0e0";
  color: blue;
}

.third-content .mix-logo{
  margin: 2rem 0;
}

.third-content .anh1 img{
  width: 9.375rem;
  height: 4.375rem;
}

.third-content p i{
 color: #fff;
font-size: 1.5625rem;
}

.logo-infooter img{
  width: 12vw;
  height: 20vh;
  object-fit: cover;
}


.second-content p, .first-content p, .third-content p{
  margin: 1.25rem 0.625rem;
  font-weight: bold;
}

/* END FOOTER */

/* MAIN PAGE */
main{
  margin: 5rem 0;
 
}

.menu{
  display: flex;
  justify-content: space-between; 
}


/* LEFT-BANNER */
.left-banner img{
  width: 18rem;
  height: 14rem;
  object-fit: contain;
  margin-bottom: 0.625rem;
}
.left-banner { 
  background-color: #e31837;
  /* width: 100%; */
  margin-top: 2.8rem;
  max-height: 49rem;
  padding: 0.05rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-pets{
  display: flex;
  margin-top: 9vh;
}


.container-pets img{
  padding: 0.6rem;
  width: 3rem;
  height: 3rem;
}
.intro .title {
  font-size: 2rem; 
  font-family: 'MergeBlack', sans-serif;
  color: white;
  margin-bottom: 0.625rem;
}

.intro .content {
  font-size: 1rem;
  color: white;
  padding-bottom: 2rem;
  line-height: 1.5;
}

  
/* PRODUCTIONS */

.products {
  display: flex;
  flex-direction: column; 
  padding: 0 1.5vw 0 0;
}
.sale-off {
  text-decoration: line-through;
  color: red; /* Optional: You can add a color to distinguish the sale price */
}

.value{
  font-weight: bold;
  color: rgb(24, 194, 183);
}
.best-sell{
  margin-bottom: 4rem;
}


.best-sell, .hot-sell {
  display: flex;
  flex-direction: column; 
  width: 73.5vw;
}

.best-sell .name-class, .hot-sell .name-class{
  text-align: center;
 margin-bottom: 1vh;
}
.name-class h1{
  font-style:oblique;
  font-size: 2.2rem;
  font-weight: bold;
}
.product {
  border: 2px solid rgb(233, 42, 42);
  margin-left: 0.75rem;
transform: translateX(-0.7rem);
box-shadow:2px 2px 5px 1px #b9df2e;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 2rem;
}

.product img {
  height: 11rem;
  object-fit: cover;
  width: 100%;
 
}

.product-detail {
  padding: 1vh 0; 
}



.add:hover {
  background-color: rgb(199, 30, 11);
}


.product-detail {
  padding: 0.625rem 0;
}

.add {
  background-color: red;
  color: white;
  padding: 0.625rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  width: 50%;
  text-align: center;
  margin: 0.625rem auto;
}






.button{
  display: flex;
  justify-content: center;
  align-items: center;

}

.button i{
  font-size: medium;
margin-left: 1rem;
}

.button i:hover{
  background-color: aqua;
}

 /* Custom styling for the dots */
 .slick-dots {
  text-align: center;
  bottom: -2.5rem !important;
  margin: 0.625rem 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 0.3125rem;
}

.slick-dots li i {
  font-size: 0.875rem;
  color: #bbb;
}

.slick-dots li.slick-active i {
  color: #333;
}

.slick-prev:before {
  content: '';
}
/* NEWS */

  .news{
    margin-top: 2rem;
  text-align: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;  
    background-image: url('./components/assets/backgrNews.jpg');
  }

  .check{
    background-color: #b9df2e;
    margin-left: 1rem;
    border-radius: 1rem;
    max-width: 22rem;

  }

  .check .img-of-check img{
   width: 100%;
   height: 12rem;
/* padding-top: 1rem; */
  }



  .news h1 {
    display: inline-block;  
    margin: 1rem 0;
    border: 2px solid greenyellow;
    padding: 1rem; 
    background-color: aqua;
    border-radius: 2rem;
    font-size: 1.6rem;
}



  .check h3{
    padding: 1rem 0;
    height: 2rem;
    background: #6ee7ab;
    border-radius: 5px;
  }

  .check p{
    padding: 3vh 0;
  }

  .contain-a {
    margin-bottom: 1rem;
    margin-top: auto;
  }

  .contain-a a{
   border-radius: 0.5rem;
    text-transform: uppercase;
    text-decoration: none; 
    color: #fff;
    border: 2px solid red;
    background-color: #e31837;
    padding: 0.5rem 0;
  }




  /* SET DAY TIME LEFT MAIN */
  .container-time {
    width: 10rem;
    height: 8rem;
    border: 2px solid black;
    padding: 0.5rem 0;
    background-color: #f8ffce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 4rem;
    border-radius: 0.625rem;
  }

  #set-day {
    font-size: 1.25rem;
    font-weight: 900;
    padding: 0.5rem;
    color: rgb(74, 21, 49);
  }

  #set-hour {
    font-size: medium;
    font-weight: bold;

    text-decoration: double;
    padding: 0.5rem;
  }


  .sun img{
width: 3.5rem;
height: 3rem;
  }
 
  .moon img{
    width: 3.5rem;
    height: 3rem;

      }

      /* FOR TOAST */


      .blurred {
        opacity: 0.3; 
      }


      .toast {
        position: absolute;
        top: 30px;
       
        background-color: rgb(243, 84, 27);
        box-shadow: 0 6px 43px rgb(0 0 0 / 40%);
        padding: 0.9375rem 1.25rem;
        overflow: hidden;
        transition: all 1s;
        transform: translateX(100%); 
        opacity: 0; 
      }
      .toast.active {
        transform: translateX(0);
        opacity: 1; 
      }
      .toast-content {
        display: flex;
        align-items: center;
      }
   .toast-content .chickenicon img{
    width: 3rem;
    height: 3rem;
   }
      .message {
        display: flex;
        flex-direction: column;
        margin: 0 1.25rem;
      }
      .text {
        font-size: 1.25rem;
      }
      .text-1 {
        font-weight: bold;
        color: aqua;
      }
      .text-2 {
        color: aliceblue;
        margin-top: 0.675rem;
      }
   
      .text-2 .pengui img{
        width: 3rem;
        height: 3rem;
       margin-top: 1rem;
      }

      #closeToast {
        cursor: pointer;
        font-size: 1.25rem;
        color: aliceblue;
      }

      .propress {
        left: 0;
        bottom: 0;
        height: 0.125rem;
        width: 0;
        position: absolute;
        background-color: #03db90;
        box-shadow: 0 0 5px #aa06eb, 0 0 10px #7a09a6, 0 0 20px #7f03af,
          0 0 30px #560477;
      }

      .toast.active .propress {
        animation: progress 5s 1s linear;
      }

      @keyframes progress {
        100% {
          width: 100%;
        }
      }
